TIMESPEC "TS_clk_net" = PERIOD "clk_net" 20 ns;
TIMESPEC "TS_rx_clk_net" = PERIOD "rx_clk_net" 8 ns;


NET "clk" LOC = "E12" | IOSTANDARD = LVCMOS33 | TNM_NET = "clk_net";
NET "rst" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "s_tx" LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;


# NET "E_NRST" LOC = "D15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
# NET "E_RX_CLK" LOC = "C12" | IOSTANDARD = LVCMOS33 | TNM_NET = "rx_clk_net";
# NET "E_RX_DV" LOC = "H10" | IOSTANDARD = LVCMOS33 ;
# NET "E_RXD<0>" LOC = "G7" | IOSTANDARD = LVCMOS33 | PULLUP ;
# NET "E_RXD<1>" LOC = "G8" | IOSTANDARD = LVCMOS33 | PULLUP ;
# NET "E_RXD<2>" LOC = "G9" | IOSTANDARD = LVCMOS33 | PULLUP ;
# NET "E_RXD<3>" LOC = "H9" | IOSTANDARD = LVCMOS33 | PULLUP ;

# NET "E_MDC" LOC = "D10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
# NET "E_MDIO" LOC = "E10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
